body {
    margin: 0;
    padding: 0;
    background-color: rgba(185, 185, 185, 0.592);
}

h1{
    color: rgb(63, 63, 63);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-container {
    background: grey;
    border-radius: 15px;
    width: 100vh;
    height: 45vh;
    margin-left: 55vh;
    margin-top: 10vh;
}

h3{
    color: #fff;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h4{
    color: #fff;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 4vh;
}

p {
    color: #fff;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-bottom: 4vh;
}



h5{
    color: #fff;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-bottom: 4vh;
    margin-left: 3vh;
}


a{
    color:rgb(185, 185, 185);
    background: rgba(0, 0, 0, 0.552);
    font-size: 15px;
    text-decoration: none;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 40vh;
    transition: 0.3s all ease-in-out;
    position: relative;
    bottom: 5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover{
    color: rgba(0, 0, 0, 0.552);
    background:rgb(185, 185, 185);
}



@media screen and (max-width: 339px){
    h1{
        font-size: 30px;
    }

    .form-container{
        width: 55vh;
        height: 65vh;
        position: relative;
        right: 52vh;
    }

    a{
        font-size: 15px;
        margin-left: 17vh;
    }
}


@media screen and (min-width: 340px) {
    h1{
        font-size: 30px;
    }

    .form-container{
        width: 55vh;
        height: 65vh;
        position: relative;
        right: 50vh;
    }

    a{
        font-size: 15px;
        margin-left: 17vh;
    }
}

@media screen and (min-width: 349px) {
    h1{
        font-size: 30px;
    }

    .form-container{
        width: 55vh;
        height: 65vh;
        position: relative;
        right: 49vh;
    }

    a{
        font-size: 15px;
        margin-left: 17vh;
    }
}

@media screen and (min-width: 340px) {
    h1{
        font-size: 30px;
    }

    .form-container{
        width: 55vh;
        height: 65vh;
        position: relative;
        right: 50vh;
    }

    a{
        font-size: 15px;
        margin-left: 17vh;
    }
}


@media screen and (min-width: 374px) {
    h1{
        font-size: 30px;
    }

    .form-container{
        width: 55vh;
        height: 65vh;
        position: relative;
        right: 47vh;
    }

    a{
        font-size: 15px;
        margin-left: 17vh;
    }
}

@media screen and (min-width: 424px) {
    h1{
        font-size: 30px;
    }

    .form-container{
        width: 55vh;
        height: 65vh;
        position: relative;
        right: 43vh;
    }

    a{
        font-size: 15px;
        margin-left: 17vh;
    }
}
